.backgound_image_div{
   position: absolute;
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0; 
   overflow: hidden;
}
.backgound_image{
    position: relative;
    width: 100%;
    height: 130%;
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
}

.main_div{
    position: relative;
    width: 100%;
    height: 100%;
}

.top_panel{
    color: blue;   
    position: relative;
    width: 100%;
    height: 30%;
    z-index: 999999999 !important;
}


.submenu{
    position: absolute;
    background-color: black;
    /* padding: 5%; */
    /* height: 5%; */
    width: 12%;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
    align-items: center;

}
.submenu_item{
    text-underline-offset :none;
    text-align: left;
}
    
a{
    display: block;
    text-decoration: none;
    color: blanchedalmond;
    
}
li{
    /* float: left; */
    list-style: none;
}
.dynamic_menu_bar_item_link{
    display: block;
    /* float: left; */
    padding: 0;
    color: whitesmoke;
    position: relative;
    
}

.dynamic_menu_bar_item{
    float: left;
    justify-content: center;
    align-items: center;
    padding: 5%;
}
.dynamic_menu_bar{
    /* position: relative;
    width: 100%;    
    left: auto;
    top: auto;
     */
     display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
}
