.menu_list_main {
  /* background-color: burlywood; */
  width: 100%;
  height: 140%;
  /* background-image: url("../data/photoes/slide_1 (1).jpg"); */
}
.list_image {
  z-index: -1;
  height: 0;
}
.menu_list_main_header {
  width: 100%;
  height: 10%;
  position: relative;
}
.two_input_wrap {
  width: 100%;
  justify-content: space-between;
  display: flex;
}
.menu_list_main_header_search {
  width: 100%;

  align-content: space-between;
}
.menu_list_main_header_search_ingredient {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 2%;
}
.menu_list_main_header_search_item_input {
  padding: 12px 20px;
  margin: 2% 7%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.list_card {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 82%);
  transition: 0.3s;
  width: 15%;
  float: left;
  margin: 2%;
  height: 40%;
  cursor: pointer;
}

.add_ingredients {
  float: left;
  width: 20%;
  padding: 10px;
  background: #383d41;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  margin: 11px 3%;
}
.add_input {
  float: left;
  width: 20%;
  padding: 10px;
  background: #383d41;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  margin: 8px 0;
}
.list_card:hover {
  box-shadow: 0 8px 16px 0 rgba(219, 214, 214, 0.432);
}

.list_container {
  display: flex;
  padding: 2px 16px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50%;
  overflow-wrap: anywhere;

  font-size: x-large;
}
.input_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.list_content {
  width: 100%;
  height: 90%;
  position: relative;
}

.next_button {
  cursor: pointer;
  color: white;
  z-index: 10000;
  font-size: x-large;
  margin: 0 5%;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.previous_button {
  cursor: pointer;
  color: white;
  z-index: 10000;
  font-size: x-large;
  margin: 0 5%;
}

@media only screen and (max-width: 500px) {
  .list_card {
    width: 45%;
    height: 200px;
  }
  .list_content {
    height: 100%;
  }
  .menu_list_main_header_search_item {
    width: 100% !important;
  }
  .menu_list_main_header_search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo {
    width: 35%;
  }
  .list_img {
    height: 60%;
  }
  .menu_list_main_header_search_item {
    display: flex;
  }
  .add_input {
    width: 100%;
  }
  .hid {
    display: none;
  }
  /* .content {
    height: 1150px;
  } */
  #img {
    height: 90%;
  }
  .dynamic_menu_bar_item {
    width: 100%;
    text-align: center;
  }
  .dynamic_menu_bar {
    display: inherit;
  }
  .backgound_image_menu {
    height: 1170px !important;
  }
}
.backgound_image_menu {
  height: 800px;
  width: 100%;
}
.menu_list_main_header_search_item {
  float: left;
  width: 45%;
  margin: 2%;
}
