.modal_ingredient_div {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
  color: #3a3a3a;
  width: 95%;
  height: fit-content;
  > label {
    color: black;
    font-weight: bold;
    flex: 2 35%;
    margin-top: 20px;
  }
}
.ingredient_modal_head {
  margin: 0 auto;
  color: black;
  height: 60px !important;
  text-align: center;
}
.ingredient_modal_str {
  text-align: center;
}
.ingrediet_modal_main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5%;
}
.ingredient_data {
  height: 100%;
  width: 50%;
  margin-top: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.ingredient_description {
  margin-top: 15px;
}
.modal_div {
  display: none;
  position: fixed;
  z-index: 9999999999 !important;
  padding-top: 5%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal_header {
  color: #3a3a3a;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.modal_header_text {
  width: 30%;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  > h1 {
    margin: 0 auto;
  }
}
.modal_header_text_item {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  width: 100%;
  > h3 {
    margin-left: 0;
    margin-right: auto;
  }
  > p {
    color: black;
    font-weight: bold;
  }
}
.modal_header_img {
  width: 200px;
  height: 200px;
  > img {
    width: 100%;
    height: 100%;
  }
}
.close_modal {
  content: "x";
  color: #fff;
  font-weight: 300;
  font-family: Arial, sans-serif;
  &:hover {
    background-color: brown;
  }
}
.ingredient_link {
  &:hover {
    color: brown;
    cursor: pointer;
  }
}
.modal_footer {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}
.modal_instruction_div {
  color: #3a3a3a;
  width: 100%;
  display: flex;
  flex-direction: column;
  > label {
    color: black;
    font-weight: bold;
  }
  > div {
    > label {
      color: black;
      font-weight: bold;
    }
  }
}
.instuction_label {
  margin: 10px auto;
  font-size: x-large;
  color: black;
  color: black;
  font-weight: bold;
}
.modal_inner_div {
  background-image: url("./../data/processedPhotoes/modal_background.jpg");
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 75%;
  height: 90%;
  overflow-y: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.close_modal_button_div {
  width: 100%;
  height: 17%;
  margin-bottom: 20px;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}
.modal_heading {
  font-size: xx-large;
  color: black;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
}
.modal_content {
  display: flex;
  flex-direction: column;
}
.modal_area_parag {
  cursor: pointer;
}
.modal_category_parag {
  cursor: pointer;
}
@media only screen and (max-width: 700px) {
  .ingrediet_modal_main {
    flex-direction: column;
  }
  .ingredient_data {
    margin-top: 25px !important;
    width: 90%;
  }
  .ingredient_modal_str {
    font-size: 20px;
  }
}
@media only screen and (max-width: 900px) {
  .modal_header {
    flex-direction: column;
  }
  .modal_header_text {
    width: 53%;
  }
}
@media only screen and (max-width: 500px) {
  html {
    font-size: unset !important;
  }
  .instuction_label {
    font-size: large;
    margin-left: 0;
    margin-right: 0;
  }
  .modal_heading {
    font-size: x-large;
  }
  .modal_ingredient_div {
    margin-left: 0;
    margin-right: 0;
  }
  .modal_inner_div {
    width: 95%;
  }
  .modal_header {
    flex-direction: column;
  }
  .modal_header_text {
    width: 80%;
  }
}
